body {
  margin: 0;
  margin-top: 10px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  background: #D6DDE2;
}

a {
  color: #00e;
  font-size: 14px;
  text-decoration: none;
}
a:visited {
  color: #551a8b;
}

h1 {
  font-style: italic;
  margin-bottom: 10px;
}

.navigation {
  width: 100%;
  height: 50px;
  background-color: #43ab2e;
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation li {
  float: left;
}

.navigation li a {
  width: 100px;
  height: 32px;
  line-height: 32px;
  padding: 10px;
  display: block;
  text-align: center;
  color: white;
  font-size: 16px;
  font-weight: 700;
}

.navigation li a:hover {
  background-color: #6BE39F;
  color: #858585;
}

.navigation li a.selected {
  background-color: #6BE39F;
  color: #858585;
}


#container {
  clear: both;
  margin-top: 10px;
}

.link {
  clear: both;
  margin-bottom: 5px;
  padding: 5px;
  min-height: 50px;
}

.link:hover {
  background-color: #efe;
}

.link img {
  float: left;
  margin: 0 5px;
}

.link .visits {
  float: right;
  margin-right: 10px;
  margin-left: 20px;
}

.link .visits .count {
  font-size: 46px;
  font-weight: 600;
}

.link .title {
  font-weight: 600;
}

.link .original {
  color: #aaa;
  font-size: 12px;
}

.link .info {
  margin-left: 55px;
}

form {
  margin: 10px;
}

input {
  width: 360px;
  display: block;
  font-size: 13px;
  padding: 5px;
  margin-bottom: 5px;
}

input[type=url] {
  display: inline
}

input[type=url]:focus {
  outline: none;
}


.error {
  border: red solid 4px;
  padding: 10px;
  margin: 0 10px;
}

.clean {
  border: #efe solid 2px;
  padding: 10px;
  margin: 0 10px;
}

.creator {
  height: 50px;
}

.creator form {
  float: left;
  height: 80px;
}

.creator img.spinner {
  height: 46px;
  margin-bottom: 5px;
  padding: 10px;
  display: none;
}

.creator .message {
  clear: both;
}



button {
  background: #69ad31;
  padding: 8px 16px;
  box-shadow: 0 1.5px 0 0 #070;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-style: bold;
  font-size: 18px;
}


/* ---- Formatting for Signup and Signin Pages ---- */
.signinH1 {
  text-align: center;
  font-size: 60px;
  line-height: 1.0;
  padding-top: 10px;
  padding-bottom: 15px;
}
.signinH3 {
  text-align: center;
  color: #858585;
  font-size: 20px;
  padding-bottom: 40px;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}
.signinForm {
  width: 340px;
  margin: auto;
  background: white;
  padding: 20px;
  border: 1px solid #bdbdbd;
  box-shadow: 0 1px 1px 0 grey;
}
.input {
  margin: 15px 0;
  vertical-align: baseline;
}
.input>label {
  display: block;
  color: #606060;
  font-style: 16px;
  margin-bottom: 4px;
  font-weight: 700;
}
label {
  cursor: default;
}
.input>input {
  border: 2px solid #cacaca;
  padding: 6px;
  width: 94%;
}
.submit.signin {
  display: inline;
  margin-right: 8px;
}
h2 {
  font-size: 30px;
  float: left;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}
.new-account {
  float: right;
  font-size: 14px;
}
.group:after {
  content: "";
  clear: both;
  display: block;
}

li {
  list-style: none;
}

/* ---- Alert message when error on signin or signup or link shortner */
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.search {
  margin-left: 10px;
}