<div class='navigation'>
  <ul>
    <li><a href='#/links' class='index'>All Links</a></li>
    <li><a href='#/shorten' class='create'>Shorten</a></li>
    <li><a href='#/logout' class='logout'>Logout</a></li>
  </ul>
</div>

<div id='container' ng-controller="LinksController">
  <!-- Your html here -->
  <h3 ng-if="!data.links.length">You have no Links shortened!</h3>
  <input type="text" ng-model="search" placeholder="search">
  <ul>
    <li ng-repeat="link in data.links | filter:search | orderBy:'-visits'">
      <div class='info'>
        <a href='{{ link.base_url }}/api/links/{{ link.code }}'><img src='/assets/redirect_icon.png'/></a>{{ link.title }} 
        <div class='original'>{{ link.url }}</div>
        <a href='{{ link.base_url }}/api/links/{{ link.code }}'>{{ link.base_url}}/api/links/{{ link.code }}</a>
        <div class='links'><span class='visits'>{{ link.visits }}</span>Visits</div>
      </div>
    </li>
  </ul>

  
  

</div>
