<div id='container' ng-controller="LinksController">
  <!-- Your html here -->
  <h3 ng-if="!data.links.length">You have no Links shortened!</h3>

  <ul>
    <li ng-repeat="link in data.links">
      <div class='info'>
        <img src='/assets/redirect_icon.png'/>{{ link.title }} 
        <div class='original'>{{ link.url }}</div>
        <a href='{{ link.base_url }}/{{ link.code }}'>{{ link.base_url}}/{{ link.code }}</a>
        <div class='links'><span class='visits'>{{ link.visits }}</span>Visits</div>
      </div>
    </li>
  </ul>

  
  

</div>
