<div id='signin'>
  <h1>signin</h1>
  <form name="signinForm" ng-submit='signin()'>
    <label for="username">Username:</label>
    <input type='text'ng-model='user.username' id="username" name="username" required>
    <label for="password">Password:</label>
    <input type="password" ng-model='user.password' id="password" required>

    <div ng-show="error.message">{{error.message}}</div>

    <button>Sign In</button>
  </form>
  or <a href="#/signup">Create an Account</a>
</div>

